# 读写文本格式的数据

主要用到 read_csv 和 read_table 函数

In [3]:
import pandas as pd
df = pd.read_csv("ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
!cat ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

由于这一文件是以逗号分隔，所以我们可以使用 read_csv 将其读入一个 DataFrame

可以使用 read_table，只是需要指定分隔符

In [9]:
pd.read_table('ex1.csv',sep=",")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

对于没有标题行的文件

可以分配默认的列名或者自己定义列名

In [10]:
!cat ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
pd.read_csv('ex2.csv',header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [5]:
pd.read_csv('ex2.csv',names = ['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

也可以指定用 message 列做成 DataFrame 的索引，可以用 index_col 参数指定

In [7]:
names = ['a','b','c','d','message']
pd.read_csv('ex2.csv',names = names,index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

对于有些表格不是按照固定分隔符进行分隔，可以编写正则表达式进行处理

## 逐块读取文本文件

在处理很大的文件时，或者为了找出大文件中的参数便于后续处理时，需要只读取文件的
一个小部分

可以设定 nrows 指定读取的行数

## 将数据写出到文本格式

利用 DataFrame 的 to_csv 方法，可以写入到一个以逗号分隔的文件中

## json 数据

In [27]:
import json
result = json.loads(obj)
result

{'name': 'wes',
 'place_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'zuko'},
  {'name': 'Katie', 'age': 33, 'pet': 'Cisco'}]}

In [28]:
asjson = json.dumps(result)
asjson

'{"name": "wes", "place_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

## XML 和 HTML ： Web 数据收集

后续补充

**爬虫**

## 二进制数据格式

对于短期储存，可以使用 pickle 格式

## 使用 HDF5 格式

可以支持高效的分块读写

## 使用 HTML 和 Web API

可以使用 Python 对网站的公共API进行访问

## 使用数据库

SQL数据库的使用